$btncolor: hsl(356, 100%, 66%);
$btncolorlight: hsl(355, 100%, 74%);

$headings: hsl(208, 49%, 24%);

$text: hsl(0, 0%, 100%);
$footertext: hsl(240, 2%, 79%);
$footerback: hsl(240, 10%, 16%);

$bodycopy: hsl(207, 13%, 34%);

$fontprimary: "Overpass", sans-serif;
$fontsecondary: "Ubuntu", sans-serif;
$defaultfontsize: 1.6rem;
$white: white;
